---
layout: default
---

<div class="home">


  <section id="recordings">

    {% assign recordings = site.data.master | sort: 'Date' %}
    {% for recording in recordings %}

    {% assign this_year = recording.Date | slice: 0, 4  %}
    {% assign next_year = recordings[forloop.index].Date | slice: 0, 4 %}
    {% assign totalTimeSplit = recording.Timecode | split: ':' %}
    {% assign dateSplit = recording.Date | split: ', ' %}

    {% if forloop.first %}
    <div class="card card-year" id="year-{{ this_year }}" data-number-of-tracks="{{ forloop.length }}">
      <div class="card-block">
        <h4 class="card-title">{{ this_year }}</h4>
      </div>
    </div>

    {% endif %}

    <div class="card card-recording" v-bind:class="{ 'active': playing == '{{ forloop.index }}' }" id="card-{{ forloop.index }}"
    data-title="{{ recording.Title }}" data-date="{{ recording.Date | date: '%A, %B %-d, %Y' }}" data-url="https://s3.amazonaws.com/music-and-the-mind-of-the-world/Tony_Conrad_matmotw_{{ recording.id }}.mp3"
    >

      <button class="btn-audio play" v-show="playing != '{{ forloop.index }}'" v-on:click="playSong({{ forloop.index }})">{% include play.svg %}</button>
      <button class="btn-audio pause" v-show="playing == '{{ forloop.index }}'" v-on:click="stopSong()">{% include pause.svg %}</button>

      <div class="card-block">
        <p class="small">{{recording.ouid}}</p>
        <p class="small now-playing">Now Playing</p>
        <a href="https://s3.amazonaws.com/music-and-the-mind-of-the-world/Tony_Conrad_matmotw_1.mp3" target="_blank" class="btn-audio download hidden-sm-down">{% include download.svg %}</a>
        <h4 class="card-title">{{ dateSplit[0] | date: "%A, %B %-d, %Y" }}{% if dateSplit[1] %}–{{ dateSplit[1] | date: "%A, %B %-d, %Y" }}{% endif %}</h4>
        <p class="card-text">{{ recording.Title }}</p>

      </div>

      <div class="audio-controls">
        <div class="brand-small time-total" v-show="playing != '{{ recording.id }}'">{{ totalTimeSplit[0] }}:{{ totalTimeSplit[1] }}</div>
        {% raw %}
        <div class="progress-bar">
          <div class="brand-small" style="left: {{ elapsedPercentage }}%;">
            <span class="time-elapsed">{{ currentTime }}</span>
            <span class="divider"></span>
            <span class="time-total">{{ totalTime }}</span>
          </div>
          <progress class="progress progress-info" value="{{ elapsedPercentage }}" max="100"></progress>
        </div>
        {% endraw %}
      </div>
    </div>

    {% if this_year != next_year and forloop.last == false %}
    <div class="card card-year" id="year-{{ next_year }}">
      <div class="card-block">
        <h4 class="card-title">{{ next_year }}</h4>
      </div>
    </div>
    {% endif %}

    {% endfor %}
  </section>

  <section id="about">
    <div class="row">
      <div class="col-lg-8 col-xl-6">
        <div id="about-text-wrapper">


            <h2 class="page-title">{{ site.pages[0].title }}</h2>
            {{ site.pages[0].content }}

        </div>
      </div>
    </div>

  </section>

  <section id="logos">

    {% for logo in site.logos %}
    <a href="{{ logo.url }}">
      <img src="{{ logo.image_path }}" alt="{{ logo.title }}">
    </a>
    {% endfor %}
  </section>

</div>


  <!-- <p class="rss-subscribe">subscribe <a href="{{ " /feed.xml " | prepend: site.baseurl }}">via RSS</a></p> -->


</div>
