#recordings {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @include media-breakpoint-up(sm) {
    justify-content: flex-start;
  }

  .card {
    position: relative;
    width: 15.625rem;
    height: 16.313rem;
    overflow: hidden;
    color: rgba(0, 0, 0, 0.25);
    margin: 15px;
    border: none;

    //iPad
    @media only screen
    and (min-width : 768px)
    and (max-width : 1024px)  {
      width: 12.325rem;
      height: 13.013rem;
      margin: 10px;
    }

    .card-block {
      position: relative;
      padding-top: 8px;
      padding-left: 18px;
      padding-right: 18px;

      .small {
        margin-bottom: 5px;
        display: inline;
        font-size: 10px;
        letter-spacing: 2px;
      }

      .now-playing {
        display: none;
      }

      .card-title {
        font-family: $font-family-headings;
        font-size: 32px;
      }

      .download {
        position: absolute;
        right: 8px;
        top: -2px;

        .svg-download {
          opacity: 0.5;
        }
      }
    }

    .small, .card-text, .brand-small {
      font-family: $font-family-brand;
    }

    &.card-recording {
      box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
      border-bottom: 2px solid #526d84;
      font-size: 1rem;

      .card-block {
        height: 100%;
      }

      .card-title {
        margin-top: 4px;
        margin-bottom: 7px;

        //iPad
        @media only screen
        and (min-width : 768px)
        and (max-width : 1024px)  {
          font-size: 26px;
        }
      }

      .card-text {
        font-size: 16px;
        line-height: 20px;

        //iPad
        @media only screen
        and (min-width : 768px)
        and (max-width : 1024px)  {
          font-size: 14px;
          line-height: 18px;
        }

        &.card-subtitle {
          color: $brand-primary;
        }

        &.card-notes {
          position: absolute;
          top: 212px;
        }
      }

      .time-total {
        transform: translateX(7px);
      }

      .progress-bar {
        display: none;
      }

      &.active {
        background-color: $brand-primary;
        border-bottom: 0;

        .small, .card-text {
          color: rgba(255, 255, 255, 0.25);
        }

        .now-playing {
          display: inline;
          color: black;
          text-transform: uppercase;
          position: relative;
          left: 5px;
          font-family: $font-family-brand;
          font-size: 0.625rem;
          font-weight: 700;
          // line-height: 0.625rem;
        }

        .card-title {
          color: white;
        }

        .download {
          svg {
            path {
              fill: white;
              stroke: white;
            }
          }
        }

        .progress-bar {
          display: block;
        }

        .audio-controls {

          .brand-small {
            position: absolute;
            bottom: 3px;
            margin-left: -26px;
          }

          .download {
            bottom: 0;
          }
        }

        .play {
          path {
            fill-opacity: 1;
            fill: white;
          }
        }
      }

      .play, .pause {
        width: 100%;
        height: 80%;
        position: absolute;
        bottom: 0;
        z-index: 9;

        svg {
          transform: translateY(-20%);
          margin: 0 auto;
          display: none;
        }

        &:hover {
          svg {
            display: block;
          }
        }
      }

      .play {
        svg {
          width: 100px;
          height: 120px;
        }
      }

      .pause {
        svg {
          width: 140px;
          height: 120px;
        }
      }
    }

    &.card-year {
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: transparent;
      border: none;
      @media (max-width: 656px) {
        height: 6rem;
      }

      @include media-breakpoint-up(lg) {
        height: 16.313rem;
      }

      //iPad
      @media only screen
      and (min-width : 768px)
      and (max-width : 1024px)  {
        width: 12.325rem;
        height: 13.013rem;
        margin: 10px;
      }

      .card-block {
        padding: 0;
        text-align: center;

        @include media-breakpoint-up(sm) {
          padding: 1.25rem;
        }
      }

      .card-title {
        font-size: 6rem;
        margin-bottom: 0;
        transform: translateY(7px);

        @include media-breakpoint-up(lg) {
          font-size: 120px;
        }

        //iPad
        @media only screen
        and (min-width : 768px)
        and (max-width : 1024px)  {
          font-size: 6rem;
        }

        // @include media-breakpoint-up(sm) {
        //   // margin-bottom: 0.75rem;
        //   margin-bottom: 0;
        // }
      }
    }
  }
}

.card .brand-small, .card .card-title{
  color: $brand-primary;
}
