#fullscreen {
  align-items: center;
  #fullscreen-controls {
    display: none;
    position: absolute;
    top: .25em;
    right: 1em;
  }
  .now-playing {
    width: 15.625rem;
    height: 16.313rem;
    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

.now-playing {
  .chosen {
    display: none;
    color: #526d84;
    font-size: 32px;
  }
  &.song-selected {
    .not-chosen {
      display: none;
    }
    .chosen {
      display: block;
    }
  }
}

#recordings, #fullscreen {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @include media-breakpoint-up(sm) {
    justify-content: flex-start;
  }

  .card {
    position: relative;
    width: 15.625rem;
    height: 16.313rem;
    overflow: hidden;
    color: rgba(0, 0, 0, 0.25);
    margin: 15px;
    border: none;

    //iPad
    @media only screen
    and (min-width : 768px)
    and (max-width : 1024px)  {
      width: 12.325rem;
      height: 13.013rem;
      margin: 10px;
    }

    .card-block {
      position: relative;
      padding-top: 8px;
      padding-left: 18px;
      padding-right: 18px;

      .small {
        margin-bottom: 5px;
        display: inline;
        font-size: 10px;
        letter-spacing: 2px;
      }

      .now-playing {
        display: none;
      }

      .card-title {
        font-family: $font-family-headings;
        font-size: 32px;
      }

      .download {
        position: absolute;
        right: 8px;
        top: -2px;

        .svg-download {
          opacity: 0.5;
        }
      }
    }

    .small, .card-text, .brand-small {
      font-family: $font-family-brand;
    }

    &.card-recording {
      box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
      border-bottom: 2px solid #526d84;
      font-size: 1rem;

      .card-block {
        height: 100%;
      }

      .card-title {
        margin-top: 4px;
        margin-bottom: 7px;

        //iPad
        @media only screen
        and (min-width : 768px)
        and (max-width : 1024px)  {
          font-size: 26px;
        }
      }

      .card-text {
        font-size: 16px;
        line-height: 20px;

        //iPad
        @media only screen
        and (min-width : 768px)
        and (max-width : 1024px)  {
          font-size: 14px;
          line-height: 18px;
        }

        &.card-subtitle {
          color: $brand-primary;
        }

        &.card-notes {
          position: absolute;
          top: 212px;
        }
      }

      .time-total {
        transform: translateX(7px);
      }

      .progress-bar {
        display: none;
      }

      &.active {
        background-color: $brand-primary;
        border-bottom: 0;

        .small, .card-text {
          color: rgba(255, 255, 255, 0.25);
        }

        .now-playing {
          display: inline;
          color: black;
          text-transform: uppercase;
          position: relative;
          left: 5px;
          font-family: $font-family-brand;
          font-size: 0.625rem;
          font-weight: 700;
          // line-height: 0.625rem;
        }

        .card-title {
          color: white;
        }

        .download {
          svg {
            path {
              fill: white;
              stroke: white;
            }
          }
        }

        .progress-bar {
          display: block;
        }

        .audio-controls {

          .brand-small {
            position: absolute;
            // bottom: 3px;
            margin-left: -26px;
          }

          .download {
            bottom: 0;
          }
        }

        .play {
          path {
            fill-opacity: 0.15;
            fill: white;
          }
        }
      }

      .play, .pause {
        width: 100%;
        height: 80%;
        position: absolute;
        bottom: 0;
        z-index: 9;

        svg {
          transform: translateY(-20%);
          margin: 0 auto;
        }
      }

      .play {
        svg {
          width: 100px;
          height: 120px;
        }
      }

      .pause {
        svg {
          width: 140px;
          height: 120px;
        }
      }
    }

    &.card-year {
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: transparent;
      border: none;
      @media (max-width: 656px) {
        height: 6rem;
      }

      @include media-breakpoint-up(lg) {
        height: 16.313rem;
      }

      //iPad
      @media only screen
      and (min-width : 768px)
      and (max-width : 1024px)  {
        width: 12.325rem;
        height: 13.013rem;
        margin: 10px;
      }

      .card-block {
        padding: 0;
        text-align: center;

        @include media-breakpoint-up(sm) {
          padding: 1.25rem;
        }
      }

      .card-title {
        font-size: 6rem;
        margin-bottom: 0;
        transform: translateY(7px);

        @include media-breakpoint-up(lg) {
          font-size: 120px;
        }

        //iPad
        @media only screen
        and (min-width : 768px)
        and (max-width : 1024px)  {
          font-size: 6rem;
        }
      }
    }
  }
}

.no-touchevents {
  .card-recording {

    .play, .pause {

      svg {

        display: none;
      }

      &:hover {
        svg {
          display: block;
        }
      }
    }
  }
}

.card .brand-small, .card .card-title{
  color: $brand-primary;
}

body #fullscreen:fullscreen {
  cursor: none;
  background: white;
  .card-year {
    display: none;
  }
  .now-playing {
    display: none;
  }
  #fullscreen-controls {
    display: flex;
    align-items: center;
    gap: 1rem;
    transition: opacity 0.5s ease-in-out;
    z-index: 200;
    opacity: 0;
    pointer-events: none;
    #fullscreen-play, #fullscreen-pause {
      button {
        width: 6rem;
        height: 6rem;
        background-color: transparent;
        border: none;
        svg {
          width: 100%;
          height: 100%;
          path {
            fill: white;
          }
        }
      }
    }
    #fullscreen-exit {
      color: white;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  &.controls-visible {
    cursor: default;
    #fullscreen-controls {
      opacity: 1;
      pointer-events: all;
    }
  }
  .card {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    .card-block {
      width: 100%;
      flex: 1;
      padding: 32px;
      .small-part {
        font-size: 60px;
        letter-spacing: 6px;
        //vw
        font-size: 2.5vw;
        letter-spacing: .25vw;
        //new
        font-size: 1.5vw;
      }
      .now-playing {
        display: none;
        //vw

      }
      .card-title {
        margin-top: 0.4em;
        margin-bottom: 0.4em;
        font-size: 264px;
        //vw
        font-size: 9vw;

      }
      .card-subtitle {
        font-size: 86px;
        line-height: 1;
        //vw
        

      }
      .cart-notes {
        font-size: 16px;
        line-height: 20px;
        //vw

      }
      .card-text {
        font-size: 60px;
        /* line-height: 20px; */
        line-height: 1;
        padding-top: 60px;
        position: static;
        //vw
        font-size: 1.5vw;
        padding-top: 1.5em;
        //new 
        font-size: 3vw;
        padding-top: 1.2em;
      }
    }
    .audio-controls {
      .brand-small {
        font-size: 2.625rem;
        // bottom: 34px!important;
        // transform: translateX(-50%);
        margin-left: 0vw!important;
        //vw
        font-size: 1.5vw;
        bottom: .8vw!important;
        min-width: 8.5vw;
      }
      .progress-info {
        height: 34px;
        //vw 
        height: 1vw;
      }
    }
  }
  .download, .btn-audio.play {
    display: none!important;
  }
}