#recordings {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &:after {
    content: "";
    flex: auto;
  }

  .card {
    // display: inline-block;
    position: relative;
    width: 15.625rem;
    height: 16.313rem;
    overflow: hidden;
    color: rgba(0, 0, 0, 0.25);
    margin: 15px;

    .small {
      margin-bottom: 5px;
      display: inline;
    }

    .now-playing {
      display: none;
    }

    &.card-recording {
      box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
      border-bottom: 2px solid #526d84;
      font-size: 1rem;

      .card-title {
        min-height: 100px;
      }

      .audio-controls {
        position: absolute;
        bottom: 0;
        width: 100%;

        .btn-audio {
          border: none;
          background-color: transparent;
        }

        .download {
          position: absolute;
          right: 0px;

          .svg-download {
            opacity: 0.5;
            .triangle {
              transform-origin: center;
              transform: rotateZ(90deg);
            }
          }
        }

        .brand-small {
          display: inline-block;
          font-size: 0.625rem;
        }
      }

      .progress-bar {
        display: none;
      }

      &.active {
        background-color: $brand-primary;
        border-bottom: 0;

        .small, .card-text {
          color: rgba(255, 255, 255, 0.25);
        }

        .now-playing {
          display: inline;
          color: black;
          text-transform: uppercase;
          position: absolute;
          right: 20px;
        }

        .card-title {
          color: white;
        }

        .download {
          svg {
            path {
              fill: white;
              stroke: white;
            }
          }
        }

        .progress-bar {
          display: block;
          position: relative;

          progress {
            position: absolute;
            bottom: 0;
            left: 0;
            margin-bottom: 0;
            height: 4px;
            width: 100%;
          }

          progress[value]::-webkit-progress-bar {
            background-color: black;
            border-radius: 0;
          }

          progress[value] {
            background-color: black;
            border-radius: 0;
          }
        }

        .brand-small {
          position: absolute;
          bottom: 3px;
          .time-elapsed {
            color: white;
          }

          .time-total {
            color: black;
          }
        }
      }
    }

    &.card-year {
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: transparent;
      border: none;
      .card-title {
        font-size: 6rem;
      }
    }

  }
}

.card .brand-small, .card .card-title{
  color: $brand-primary;
}
