@media (min-width: 1650px) {
  .container {
      max-width: 1600px;
  }
}

@media (min-width: 1940px) {
  .container {
      max-width: 1910px;
  }
}

@media (min-width: 2280px) {
  .container {
      max-width: 2220px;
  }
}

.navbar {
  &.bg-faded {
    background-color: $brand-primary;
  }

  .navbar-brand {
    font-size: 15px;
    text-decoration: none;

    .title {
      color: white;
      margin-left: 20px;
    }
  }

  .navbar-brand, .nav-item {
    font-family: $font-family-headings;
  }

  .navbar-nav {
    .nav-link {
      color: black;
      font-size: 15px;
      padding: 0;
    }
  }
  .song-title, .time-elapsed {
    color: white;
  }
}

#now-playing, #now-playing-time {
  font-size: 0.625rem;
}

#now-playing-date {
  font-size: 0.938rem;
  text-decoration: underline;
}

#now-playing {
  transform: translateY(9px);
}

#now-playing-time {
  transform: translateY(5px);
}

.navbar-nav.pull-xs-right {
  transform: translateY(5px);
}

#intro {
  padding-top: 1rem;
  h1 {
    font-size: 0.938rem;
    font-weight: 700;

    &.title {
      color: $brand-primary;
    }
  }

  p {
    color: $brand-primary;
    font-size: 0.813rem;
    font-weight: 400;

    a {
      color: black;
      float: right;
    }
  }
}

.page-title{
  color: $brand-primary;
  text-transform: uppercase;
  font-size: 15px;
}

#main {
  @include media-breakpoint-up(sm) {
    margin-top: 50px;
  }
}

#about {
  color: $brand-primary;
  margin-top: 65px;

  img {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

.btn-audio {
  border: none;
  background-color: transparent;
  padding: 10px;

  &:focus {
    outline: none;
  }
}

.audio-controls {
  position: absolute;
  bottom: 0;
  width: 100%;

  .play, .pause {
    position: relative;
    bottom: -2px;
    left: 5px;
    margin-right: 5px;
  }

  .pause {
    transform: translateX(-5px);
  }

  .previous {
    transform: translateY(3px) rotateZ(180deg);
  }

  .brand-small {
    display: inline-block;
    font-size: 0.625rem;

    .divider {
      width: 2px;
      height: 17px;
      position: relative;
      top: 7px;
      z-index: 1;
      background-color: white;
      display: inline-block;
    }

    .time-elapsed {
      color: white;
    }

    .time-total {
      color: black;
    }
  }
}

.download {
  position: absolute;
  right: 10px;
  bottom: -2px;

  .svg-download {
    opacity: 0.5;
    .triangle {
      transform-origin: center;
      transform: rotateZ(90deg);
    }
  }
}

.progress-bar {
  position: relative;

  progress {
    position: absolute;
    bottom: 0;
    left: -1px;
    margin-bottom: 0;
    height: 4px;
  }

  progress[value]::-webkit-progress-bar {
    background-color: black;
  }

  progress[value] {
    background-color: black;
  }
}

#mobile-audio-controls {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99999;

  .audio-controls {
    background-color: #f7f6f2;
    height: 50px;

    .btn-audio {
      margin-top: -5px;
    }

    .play, .pause {
      position: static;
    }

    .pause {
      path {
        stroke: $brand-primary;
        opacity: 1;
      }
    }

    .play {
      path {
        fill-opacity: 1;
      }
    }

    .next {
      position: absolute;
      right: 0;
    }

    .previous, .next {
      &.inactive {
        pointer-events: none;

        path {
          opacity: 0.5;
        }
      }
    }

    .title {
      font-family: $font-family-headings;
      font-size: 0.938rem;
      font-weight: 700;
      text-decoration: underline;
      position: absolute;
      top: 4px;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      text-align: center;
      pointer-events: none;

      // media query for iphone 5s and older
      @media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : portrait) {
          font-size: 0.7rem;
          margin-top: 7px;
        }
    }

    .progress-bar {
      position: static;

      .progress {
        height: 13px;
      }

      progress[value]::-webkit-progress-bar {
        background-color: $brand-primary;
      }

      progress[value] {
        background-color: $brand-primary;
      }
    }

    .brand-small {
      position: absolute;
      bottom: 0;
      margin-left: -25px;
      z-index: 99999;

      .divider {
        background-color: black;
        height: 16px;
      }

      .time-elapsed {
        color: black;
      }

      .time-total {
        color: white;
        z-index: 1;
      }
    }
  }
}

#about-text-wrapper {
  padding-left: 15px;
  max-width: 700px;
}

.page-title {
  font-family: $font-family-headings;

}
