@media (min-width: 1650px) {
  .container {
      max-width: 1600px;
  }
}

@media (min-width: 1940px) {
  .container {
      max-width: 1910px;
  }
}

@media (min-width: 2280px) {
  .container {
      max-width: 2220px;
  }
}

//iPad
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)  {
  // .container {
  //   padding-left: 0;
  //   padding-right: 0;
  // }
}

.navbar {
  display: none;

  @media (min-width: 768px) {
    display: flex;
  }
  align-items: center;
  justify-content: space-between;
  font-family: $font-family-brand;

  &::after {
    display: none;
  }

  &.bg-faded {
    background-color: rgba($brand-primary, 0.9);
  }

  .navbar-brand {
    font-size: 15px;
    text-decoration: none;
    line-height: 1;

    .title {
      color: white;
      margin: 0 30px;
    }

    .dropdown {
      display: inline-block;

      .dropdown-toggle {
        width: 3.188rem;
        height: 1.438rem;
        border: 0.063rem solid #495c6b;
        border-radius: 0.25rem;
        padding: 0;
        background-color: transparent;
        color: black;
        text-transform: uppercase;
        font-size: 0.938rem;
        font-weight: 700;

        .btn-text {
          margin-left: 3px;
        }

        .btn-text, &::after {
          opacity: 0.25;
          transform: translateX(3px);
        }
      }
    }
  }

  .navbar-brand, #now-playing-date {
    font-family: $font-family-headings;
  }

  .navbar-nav {
    display: flex;
    align-items: center;
    .nav-link {
      color: black;
      font-size: 15px;
      padding: 0;
    }
  }
  .song-title, .time-elapsed {
    color: white;
  }

}

#now-playing, #now-playing-date, #now-playing-time {
  display: none;

  &.visible {
    display: inline-block;
  }
}

#now-playing, #now-playing-time {
  font-size: 0.625rem;
}

#now-playing-date {
  font-size: 0.938rem;
  text-decoration: underline;
}

#intro {
  @media (min-width: 768px) {
    display: none;
  }

  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;

  h1 {
    font-size: 0.938rem;
    font-weight: 700;
    font-family: $font-family-headings;
    margin-bottom: 2px;

    &.title {
      color: $brand-primary;
      margin-bottom: 4px;
    }
  }

  .intro-text {
    font-family: $font-family-brand;
    font-size: 13px;
    line-height: 18px;
  }

  // p {
  //   color: $brand-primary;
  //   font-size: 0.813rem;
  //   font-weight: 400;
  //
  //   a {
  //     color: black;
  //     float: right;
  //   }
  // }
}

.page-title{
  color: $brand-primary;
  text-transform: uppercase;
  font-size: 15px;
}

#main {
  @include media-breakpoint-up(sm) {
    margin-top: 50px;
  }
}

#about {
  color: $brand-primary;
  padding-top: 65px;

  p {
    font-family: $font-family-brand;
    font-size: 13px;
    line-height: 18px;

    @include media-breakpoint-up(sm) {
      font-size: 18px;
      line-height: 25px;
    }
  }
}

.btn-audio {
  border: none;
  background-color: transparent;
  padding: 10px;

  &:focus {
    outline: none;
  }
}

.audio-controls {
  position: absolute;
  bottom: 0;
  width: 100%;

  .play, .pause {
    position: relative;
    bottom: -2px;
    left: 5px;
    margin-right: 5px;
  }

  .pause {
    transform: translateX(-5px);
  }

  .previous {
    transform: translateY(3px) rotateZ(180deg);
  }

  .brand-small {
    display: inline-block;
    font-size: 0.625rem;

    .divider {
      width: 2px;
      height: 17px;
      position: relative;
      top: 7px;
      z-index: 1;
      background-color: white;
      display: inline-block;
    }

    .time-elapsed {
      color: white;
    }

    .time-total {
      color: black;
    }
  }
}

.download {
  position: absolute;
  right: 10px;
  bottom: -2px;

  .svg-download {
    opacity: 0.5;
    .triangle {
      transform-origin: center;
      transform: rotateZ(90deg);
    }
  }
}

.progress-bar {
  position: relative;

  progress {
    position: absolute;
    bottom: 0;
    margin-bottom: 0;
    height: 4px;
  }

  progress[value]::-webkit-progress-bar {
    background-color: black;
  }

  progress[value] {
    background-color: black;
  }
}

#mobile-audio-controls {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99999;

  .audio-controls {
    background-color: rgba(#f7f6f2, 0.9);
    height: 50px;

    .btn-audio {
      margin-top: -5px;
    }

    .play, .pause {
      position: static;
    }

    .pause {
      path {
        stroke: $brand-primary;
        opacity: 1;
      }
    }

    .play {
      path {
        fill-opacity: 1;
      }
    }

    .next {
      position: absolute;
      right: 0;
    }

    .previous, .next {
      &.inactive {
        pointer-events: none;

        path {
          opacity: 0.5;
        }
      }
    }

    .title {
      font-family: $font-family-headings;
      font-size: 0.938rem;
      font-weight: 700;
      text-decoration: underline;
      position: absolute;
      top: 4px;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      text-align: center;
      pointer-events: none;

      // media query for iphone 5s and older
      @media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : portrait) {
          font-size: 0.7rem;
          margin-top: 7px;
        }
    }

    .progress-bar {
      position: static;

      .progress {
        height: 13px;
      }

      progress[value]::-webkit-progress-bar {
        background-color: rgba($brand-primary, 0.9);
      }

      progress[value] {
        background-color: rgba($brand-primary, 0.9);
      }
    }

    .brand-small {
      position: absolute;
      bottom: 0;
      margin-left: -25px;
      z-index: 99999;

      .divider {
        background-color: black;
        height: 16px;
      }

      .time-elapsed {
        color: black;
      }

      .time-total {
        color: white;
        z-index: 1;
      }
    }
  }
}

#about-text-wrapper {
  padding-left: 15px;
  max-width: 700px;
}

.page-title {
  font-family: $font-family-headings;

}
