.navbar {
  &.bg-faded {
    background-color: $brand-primary;
  }

  .navbar-brand {
    font-size: 15px;
    text-decoration: none;

    .title {
      color: white;
      margin-left: 20px;
    }
  }

  .navbar-nav {
    .nav-link {
      color: white;
      font-size: 15px;
    }
  }
  .song-title, .time-elapsed {
    color: white;
  }
}

.page-title{
  color: $brand-primary;
  text-transform: uppercase;
  font-size: 15px;
}

#main {
  margin-top: 50px;
}

#about {
  color: $brand-primary;

  img {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}
