<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ page.title | default: site.title }}</title>
    <meta name="description" content="{{ page.description | default: site.description }}">

    <!-- Open Graph Meta Tags -->
    <meta property="og:title" content="{{ page.title | default: site.title }}">
    <meta property="og:description" content="{{ page.description | default: site.description }}">
    <meta property="og:image" content="{{ site.url }}{{ site.image }}">
    <meta property="og:url" content="{{ site.url }}{{ page.url }}">
    <meta property="og:type" content="website">

    <!-- Favicon -->
    <link rel="shortcut icon" href="/favicon.ico">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHfGkIdJMvNfgRLtY3+fNjV2e7KJ0o6AiVQwFFDDL4j3" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ '/css/main.css' | relative_url }}">
    <link rel="canonical" href="{{ page.url | absolute_url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ '/feed.xml' | absolute_url }}">
  </head>

  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ '/' | relative_url }}">{{ site.title }}</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#about">About</a></li>
            <li><a href="{{ page.youtube }}" target="_blank">YouTube</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-4">
            <p>{{ site.description }}</p>
            {% if page.youtube %}
            <p><a href="{{ page.youtube }}" target="_blank">View on YouTube</a></p>
            {% endif %}
          </div>
        </div>
      </div>
    </footer>

    <!-- jQuery -->
    <script src="{{ '/scripts/jquery.min.js' | relative_url }}"></script>
    <!-- Vue.js -->
    <script src="{{ '/scripts/vue.min.js' | relative_url }}"></script>
    <!-- Velocity.js -->
    <script src="{{ '/scripts/velocity.min.js' | relative_url }}"></script>
    <!-- Bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfqo2PMVfucE+3/tpOAbaseRjaSUklHfn5oy+zzpxuhV12gKvh" crossorigin="anonymous"></script>
    <!-- Custom JS -->
    <script src="{{ '/scripts/music.js' | relative_url }}"></script>
  </body>
</html>
