<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Music and the Mind of the World | Tony Conrad</title>
    <meta name="description" content="{{site.description}}">
    <meta name="author" content="Tony Conrad" />
    <meta name="publisher" content="Arcangel Surfware" />
    <meta name="google-site-verification" content="EcImjEAf4e_t5nOQK0vLHcOFNYu-YQWBf-z3I_BSTsk" />

    <!-- facebook meta tags -->
    <meta property="og:title" content="{{ site.title }}"/>
    <meta property="og:description" content="{{site.description}}"/>

    <meta property="og:image" content="{{ site.url }}/images/piano.jpg"/>

    <meta property="og:url" content="{{ site.url }}"/>

    <meta property="og:site_name" content="{{ site.title }}"/>
    <meta property="og:type" content="website"/>

    <!-- twitter cards -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="{{ site.title }}" />
    <meta name="twitter:description" content="{{ description is defined ? description|striptags[:160] : seo.description|e }}" />

    <meta name="twitter:image" content="{{ site.url }}/images/piano.jpg" />

    <meta name="twitter:url" content="{{site.description}}" />

    <link rel="stylesheet" href="{{ "css/main.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
  </head>
  <body>
    <div id="app">
      <header id="header">

        <nav class="navbar navbar-fixed-top navbar-light bg-faded">
          <div class="navbar-brand">TONY CONRAD
            <span class="title">MUSIC & THE MIND OF THE WORLD</span>
            <div class="dropdown">
              <button class="btn dropdown-toggle" type="button" id="dropdownYear" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="btn-text">Year</span></button>
              <div class="dropdown-menu" aria-labelledby="dropdownYear">
                {% for year in (1976..1982) %}
                <a class="dropdown-item scroll-link" href="#year-{{ year }}">{{ year }}</a>
                {% endfor %}
              </div>
            </div>

          </div>

          <div class="nav navbar-nav nav-right">
           <a class="nav-item nav-link" href="#about">About the work...</a>
           <a class="nav-item nav-link" href="#" target="_blank">Download</a>
         </div>
        </nav>

        <section id="intro">
          <h1>TONY CONRAD</h1>
          <h1 class="title">MUSIC & THE MIND OF THE WORLD</h1>
          <div class="intro-text">In December 1976, Tony Conrad started recording "Music and the Mind of the Word," a gigantic project comprising over 150 hours of performance at the piano. <a href="#about" class="pull-xs-right">About the work...</a></div>
          <div class="clearfix"></div>
        </section>

      </header>

      <section id="mobile-audio-controls">
        <div class="audio-controls">
          <div class="audio-button-wrapper">
            <div class="button-wrapper-inner">
              <button class="btn-audio previous" v-bind:class="{ 'inactive': (playing == '') || (playing == '1') }" v-on:click="previousSong({{ playing }})">{% include previous.svg %}</button>
              <button class="btn-audio play" v-show="playing == ''" v-on:click="playSong()">{% include play.svg %}</button>
              <button class="btn-audio pause" v-show="playing != ''" v-on:click="stopSong()">{% include pause.svg %}</button>
              {% raw %}
              <a class="title scroll-link" href="#card-{{ playing }}">{{ date }}</a>
              {% endraw %}

              <button class="btn-audio next"  v-bind:class="{ 'inactive': (playing == '') || (playing == numberOfTracks) }" v-on:click="nextSong({{ playing }})">{% include next.svg %}</button>

              {% raw %}
              <a href="{{ trackUrl }}" target="_blank" class="btn-audio download hidden-sm-down" v-bind:class="{ 'hidden': (playing == '') }">
              {% endraw %}
                {% include download.svg %}
              </a>
              
            </div>
          </div>

          {% raw %}
          <div class="progress-bar">
            <div class="brand-small" style="left: {{ elapsedPercentage }}%;">
              <span class="time-elapsed">{{ currentTime }}</span>
              <span class="divider"></span>
              <span class="time-total">{{ totalTime }}</span>
            </div>
            <progress class="progress progress-info" value="{{ elapsedPercentage }}" max="100"></progress>
          </div>
          {% endraw %}
        </div>
      </section>

      <main id="main">
        <div class="container">
          {{ content }}
        </div>
      </main>

      <footer>

      </footer>


    </div>

  </body>

  <script src="scripts/jquery.min.js"></script>
  <script src="scripts/velocity.min.js" charset="utf-8"></script>
  <script src="scripts/vue.min.js" charset="utf-8"></script>
  <script src="scripts/bootstrap.min.js"></script>
  <script src="scripts/music.js" charset="utf-8"></script>

</html>
